<div class="content">
    <div class="top-content">
        <div class="left-content" [class.visible]="showPicture">
            <div class="circle-back"></div>
            <img class="image" src="assets/picture.png">
        </div>
        <div class="right-content" [class.visible]="showPicture">
            <div class="hello-text">Olá! Me chamo</div>
            <div class="name">WENDELL SIMÕES</div>
            <div class="description">
                <p class="main-text">e sou <span class="job-function">Desenvolvedor Front End</span>. Tenho mais de 7
                anos de experiência em TI com conhecimento nas áreas de suporte ao cliente, monitoramento de sistemas,
                 gerenciamento de Data Center e desenvolvimento de software.<span class="block">|</span></p>
            </div>
            <div class="links">
                <a href="assets/CV-Wendell.pdf" target="_blank">
                <div class="button-resumee" >
                    <mat-icon>insert_drive_file</mat-icon>
                    <p>CV.pdf</p>
                </div>
                </a>
                <a href="https://www.linkedin.com/in/wendell-sim%C3%B5es-67616462/" target="_blank"><img class="linkedin-logo" src="assets/linkedin-logo.png"></a>
                <a href="https://github.com/wendeoo" target="_blank"><img class="github-logo" src="assets/github-logo.png"></a>
            </div>
        </div>
    </div>
    <!-- <div class="bottom-content">
        <div class="skills">            
            <div class="skill-icon-name">
                <img src="assets/icon-angular.png">
                <p [class.visible]="showSkillName">Angular 15+</p>
            </div>
            <div class="skill-icon-name">
                <img src="assets/icon-js.png">
                <p [class.visible]="showSkillName">JavaScript</p>
            </div>
            <div class="skill-icon-name">
                <img src="assets/icon-ts.png">
                <p [class.visible]="showSkillName">TypeScript</p>                
            </div>
            <div class="skill-icon-name">
                <img src="assets/icon-html.png">
                <p [class.visible]="showSkillName">HTML 5</p>
            </div>
            <div class="skill-icon-name">
                <img src="assets/icon-css.png">
                <p [class.visible]="showSkillName">CSS 3</p>
            </div>
            <div class="skill-icon-name">
                <img src="assets/icon-scss.png">
                <p [class.visible]="showSkillName">SCSS</p>
            </div>
            <div class="skill-icon-name">
                <img src="assets/icon-azure.png">
                <p [class.visible]="showSkillName">AzureDevOps</p>
            </div>
            <div class="skill-icon-name">
                <img src="assets/icon-git.png">
                <p [class.visible]="showSkillName">GIT</p>
            </div>
            <div class="skill-icon-name">
                <img src="assets/icon-scrum.png">
                <p [class.visible]="showSkillName">Scrum</p>
            </div>        
        </div>          
    </div> -->
</div>