<div class="content" [class.visible]="show">
    <div class="formation">
        <div class="title">
            <mat-icon>school</mat-icon>
            <p>Análise e Desenvolvimento de Sistemas (CST)<p>
        </div>
        <div class="entity">
            <mat-icon>location_city</mat-icon>
            <p>Universidade Anhembi-Morumbi</p>
        </div>
        <div class="date">
            <mat-icon>date_range</mat-icon>
            <p>Jun/2021 a Dez/2023 (em andamento)</p>
        </div>
    </div>
    <div class="formation">
        <div class="title">
            <mat-icon>school</mat-icon>
            <p>Propaganda e Marketing (bacharel)<p>
        </div>
        <div class="entity">
            <mat-icon>location_city</mat-icon>
            <p>Universidade Paulista</p>
        </div>
        <div class="date">
            <mat-icon>date_range</mat-icon>
            <p>Jan/2012 a Dez/2015</p>
        </div>
    </div>
    <div class="formation">
        <div class="title">
            <mat-icon>school</mat-icon>
            <p>Técnico em Informática<p>
        </div>
        <div class="entity">
            <mat-icon>location_city</mat-icon>
            <p>ETEC São José dos Campos - SP</p>
        </div>
        <div class="date">
            <mat-icon>date_range</mat-icon>
            <p>Jun/2009 a Dez/2010</p>
        </div>
    </div>
</div>
