<div class="container">
    <div class="side-menu">
        <div class="home" [class.selected]="section === 'home'" (click)="selectSection('home')">            
            <mat-icon>home</mat-icon>
            <p>home</p>
        </div>
        <div class="profile" [class.selected]="section === 'profile'" (click)="selectSection('profile')">
            <mat-icon>person</mat-icon>
            <p>perfil</p>
        </div>
        <div class="school" [class.selected]="section === 'school'" (click)="selectSection('school')">
            <mat-icon>school</mat-icon>
            <p>formação</p>
        </div>
        <div class="work" [class.selected]="section === 'work'" (click)="selectSection('work')">
            <mat-icon>work</mat-icon>
            <p>trabalho</p>
        </div>
        <div class="contact" [class.selected]="section === 'contact'" (click)="selectSection('contact')">
            <mat-icon>phone</mat-icon>
            <p>contato</p>
        </div>        
    </div>
</div>